.container {
  width: min(
    var(--container-size, var(--maze-container)),
    calc(100% - (2 * var(--maze-page-gutter)))
  );
  margin-inline: auto;
}

.default {
  --container-size: var(--maze-container);
}

.narrow {
  --container-size: var(--maze-container-narrow);
}

.wide {
  --container-size: var(--maze-container-wide);
}
